VITE_FIREBASE_API_KEY= "AIzaSyBocmkTPff52ccair088v7OctpNqW0Y8_M"
VITE_FIREBASE_AUTH_DOMAIN="portfolio-3fb73.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL="https://portfolio-3fb73-default-rtdb.firebaseio.com/"
VITE_FIREBASE_PROJECT_ID="portfolio-3fb73"
VITE_FIREBASE_STORAGE_BUCKET="portfolio-3fb73.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1083743930050"
VITE_FIREBASE_APP_ID="1:1083743930050:web:0d71229a2d026329689d5b"
